* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  height: 4.375rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0.125rem 0.25rem 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  color: rgb(102, 102, 102);
  align-items: center;
  height: 100%;
}

.nav-bar a {
  font-size: 1.125rem;
}

.nav-bar a:hover {
  cursor: pointer;
  color: red;
}

.brand {
  color: #949494;
  width: 70px;
  height: 26px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.categories {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.quick-links {
  display: flex;
  align-items: center;
}

.quick-links a {
  padding: 0 1rem;
}

.category-item {
  padding: 0 1.25rem;
}

.nav-bar .search {
  width: 24px;
  height: 24px;
}

.nav-bar .weather {
  width: 32px;
  height: 24px;
}

.nav-bar .npo {
  width: 36px;
  height: 24px;
}
